body {
  background: #14213d;
  /* Navy blue */
}

#root .btn{
 background: #fca311;
  font-weight: bold;
  color: black;
}

.modal .btn{
  background: #fca311;
  font-weight: bold;
  color: black;
}

input:disabled{ /* Styling for disabled input*/
  color: #14213d;
  font-weight: bold;
}

textarea:disabled{ /* Styling for disabled textarea*/
  color: #14213d;
  font-weight: bold;
}

.modal-open {
  overflow: inherit;
}

.modal-100w{
  padding-right: 1vw;
  min-width: 100%;
}

.bg-theme {
  background: #e5e5e5;
  width: 85vw;
  /* Platinum color */
}

.nav-bg-theme {
  background: #404040;
  /* Dark gray/smoke color */
}
