body {
  background: #14213d;
  /* Navy blue */
}

#root .btn{
 background: #fca311;
  font-weight: bold;
  color: black;
  border: 1px solid black;
}

#root .btn.btn-danger{
  background: #fc2311;
  color: white;
}

.delete-container {
  width: 80%;
  /*border-radius: 25px;*/
  border: 2px solid Black;
  padding: 15px 15px 15px 15px;
  margin: 15px 15px 15px 15px;
  background: #86A0D8;
  overflow: visible;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
}

.delete-x {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
}

.modal .btn{
  background: #fca311;
  font-weight: bold;
  color: black;
  border: 1px solid black;
}

input:disabled{ /* Styling for disabled input*/
  color: #14213d;
  font-weight: bold;
}

textarea:disabled{ /* Styling for disabled textarea*/
  color: #14213d;
  font-weight: bold;
}

.modal-open {
  overflow: inherit;
}

.modal-100w{
  padding-right: 1vw;
  min-width: 100%;
}

.bg-theme {
  background: #e5e5e5;
  width: 92vw;
  /* Platinum color */
}

.bg-offset{
  background: #86A0D8;
}

/* Selected page */
button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-page.Mui-selected{
  background: #fca311;
  font-weight: bold;
  color: black;
  /*border-radius: 25px;*/
  border: 1px solid Black;
}

.nav-bg-theme {
  background: #404040;
  /* Dark gray/smoke color */
}

.text-warning-theme{
  /* background: rgb(121, 118, 112,1); */
  color: darkgoldenrod;
}


label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-marginDense.MuiInputLabel-outlined{
  /* Multiple combo box label styling */
  font-weight: bold;
  color: black;
}

label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-marginDense.MuiInputLabel-outlined{
  /* Multiple combo box label when label is shurnk */
  padding-top: 3px;
}
span.MuiTypography-root.MuiStepLabel-label.MuiTypography-body2.MuiTypography-displayBlock{
  /* Label styling for vertical stepper */
  font-weight: bold;
  font-size: large;
}
div.MuiPaper-root.MuiStepper-root.MuiStepper-vertical{
  /*  Styling vertical stepper root container */
  background: #e5e5e5;
}
div.MuiPaper-root.MuiPaper-elevation0{
   /*  Styling vertical stepper root container */
  background: #e5e5e5;
}

.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  border-radius: 6px;

}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #fca311;
}
.tag-title {
  margin-top: 3px;
}
.tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  margin-left: 8px;
  position: relative;
  color: #000;
  border-radius: 50%;
  background: #e5e5e5;
  cursor: pointer;
}

/* TODO: Improve this styling */
.customMuiHeader {
  color: #000;
  font-size: large;
}

.MuiDataGrid-row:hover {
  cursor: pointer;
}