body {
  background: #14213d;
  /* Navy blue */
}

#root .btn{
 background: #fca311;
  font-weight: bold;
  color: black;
}

.modal-open {
  overflow: inherit;
}

.bg-theme {
  background: #e5e5e5;
  width: 85vw;
  /* Platinum color */
}

.nav-bg-theme {
  background: #404040;
  /* Dark gray/smoke color */
}
